/*======Pages principales:========*/
	html {
		margin: 0;
	}
	body{
		margin:0;
		font-family: liberation, sans;
		background-color: #aaa;
		color : #ccc;
	}
	header{
		display: block;
		float: left left;
		width: 100%;
		height: 130Px;
		background-color: #BB3838;
		/*7a0404 - C35252 - C94040 - BB3838*/
		margin-bottom: 2px;
		position: fixed; /* fixed */
		top: 0px;
		z-index: 20;
	}
	footer{
		background-color: #BB3838; /*7a0404*/
		height: 90px;
		width: 100%;
		float: left;
		position: relative;
		display: block;
		z-index: 20;
	}
	.corps{
		width: 1200px;
		height: 100%;
		display: block;
		background-color: #e8dede;
		box-shadow: 10px 10px 10px 10px #555;
		box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.65);
	}
	#padding{
		margin:0 auto;
		width: 1200px;
	}




/*==========Header=============*/
	.TitrePage{
		height: 80px;
		width: 100%;
		font-size: 50px;
		text-align: center;
		color: white;
	}
	nav ul li p{
		color: white;
	}


/*=============Footer===========*/
	.footTxt{
		color: white;
		font-size: 0.85em;
		z-index: 10;
		position: absolute;
		bottom: 10px;;
		text-align: center;
		width: 100%;
	}


/*==========Mail==========*/
	.mail{
		display: block;
		float: right;
		margin: 3%;
		margin-bottom: 20px;
	}
	.form-horizontal{
		z-index: 10;
		border: black;
		margin -left: auto;
		margin-right: auto;
		width: 400px;
		margin-top: 10%;
		display: block;
		float: left;
		width: 50%;
		height: 50%;
	}
	#text{
		height: 200px;
		width: 200%;
	}
	.decalage{
		position: absolute;
		margin-left: 150px;
	}

/*==================================================================*/
/*=============Sommaire===========*/
aside{
  position:fixed;
  display:flex;
  left:0px;
  top:130px;
  bottom:0px;
  width:10%;
  background-color: lightgray   ;
  /*A6A7D1 - A74343*/
  border-top-right-radius: : 10px;
  border-top-left-radius: : 10px;
  border-bottom-right-radius: : 0px;
  padding-bottom: 500px;
  box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.65);
}

a{
  color:#3A3A3A;
  text-decoration:none;
}

.soulign{
  font-size:18px;
  text-decoration:underline;
}

aside ul{
  margin:0;
  padding:0px;
}

aside li{
  text-align:center;
  transition-property:background;
  transition-duration:0.5s;
  transition-timing-function: linear;
  padding:15px 0px 15px 0px;
}


li#li1:hover{
  background-color:#B6B6B6;
}

li#li2:hover{
  background-color:#E9E6E6;
}

.Sommaire{
  margin:25px 0px 25px 0px;
  text-align:center;
}




/*****************    FLORENT    ****************/

.flexBox1{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
	align-items: center;
	width: 100%;
	padding: 5%;
	margin-top: 123px;
}
.flexBox2{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
	align-items: center;
	width: 100%;
	padding: 2% 5% 0% 5%;
}
.boxcnt{
	margin-bottom: 200px;
}
.categories{
	display: block;
	width: 18%;
	vertical-align:middle ;
	background-color: #37474f;
	min-height: 130px;
	border: double 5px #757575;
}
.categoriesActive{
	background-color: #4682B4;
}
#layout{
	width: 1200px;
	height: auto;
}
.roundedImage{					/* Arrondir les vignette */
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:50%;
    height:auto;
    margin: auto;   
    position: relative;
    margin-top: 7.5%;
    margin-left: 26%;
}
.categories img:hover{
	width: 55%;
	margin-top: 6%;
    margin-left: 23%;
}
.textCategorie{
	background-color: #ccc;
	border: dashed 2px #aaa;
	width: 100%;
	height: 32%;
	display: block;
	float: left;
	margin-top:8.5%;
}
.textCategorie p{
	font-size: 1.25em;
	font-weight: bold;
	text-align :justify;
	margin: 0 2% 0 2%;
}
.textCategorie h2{
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	margin-top: 8%;
	text-shadow: 3px 3px 10px #555;
}
.textCategorie h3{
	font-weight: bold;
	font-size: 1.5em;
	margin: 1% 0 1% 0;
	text-align :center;
	text-shadow: 2px 2px 15px #555;
}
/********** FLORENT PARTIE FONCTIONNALITE ******/

/*.sous_menu2 a{
	margin-bottom: 0px;
}*/
/*.sous_menu2{
	position: absolute;
	display: block;
	top: 32%;
	right: 10.5%;
}
.sous_menu2{
	position: relative;
	display: block;
	float: right;
	bottom: 0;
	right: 0;
}*/

#lien .pointeur:hover{				/* Pour visualisé les zones au passage de sourie */
	box-shadow: 0px 0px 20px 5px #555;
	z-index: 9; 
}
.pointeur{
	/*border: 1px solid black;*/   /* Pour visualiser les zones des divs */
	position: relative;
	z-index: 10;
	display: block;
}
#recherche{
	width: 531px;
	height: 28px;
	left: 16.1%;
	margin-top:-63.4%;
	display: block;
	float: left;
	position: relative;
}
#abonnement{
	width: 145px;
	height: 35px;
	left: 58%;
	margin-top: -19%;
	display: block;
	float: left;
}
#sugestion{
	width: 320px;
	height: 700px;
	left: 71.96%;
	margin-top: -59%;
	display: block;
	float: left;
}
#chaine{
	width: 170px;
	height: 40px;
	left: 12.5%;
	margin-top: -19.2%;
	display: block;
	float: left;
}
#description{
	width: 690px;
	height: 90px;
	left: 12.5%;
	margin-top: -16%;
	display: block;
	float: left;
}
#video{
	width: 690px;
	height: 350px;
	left: 12.95%;
	margin-top: -58.6%;
	display: block;
	float: left;
}
#bouton{
	width: 107px;
	height: 23px;
	left: 13%;
	margin-top: -28.5%;
	display: block;
	float: left;
}
#parametre{
	width: 107px;
	height: 23px;
	left: 61.5%;
	margin-top: -28.5%;
	display: block;
	float: left;
}
#avancement{
	width: 683px;
	height: 13px;
	left: 13.2%;
	margin-top: -29.4%;
	display: block;
	float: left;
}
#jaime{
	width: 130px;
	height: 40px;
	left: 46%;
	margin-top: -23%;
	display: block;
	float: left;
}
#partage{
	width: 160px;
	height: 40px;
	left: 57%;
	margin-top: -23%;
	display: block;
	float: left;
}
#titre{
	width: 230px;
	height: 48px;
	left: 12.5%;
	margin-top: -25%;
	display: block;
	float: left;
}
#upload{
	width: 40px;
	height: 30px;
	left: 96.6%;
	margin-top:-63.5%;
	display: block;
	float: left;
	position: relative;
}
#fonctions{
	width: 35px;
	height: 30px;
	left: 1.1%;
	margin-top:-63.5%;
	display: block;
	float: left;
	position: relative;
}
#commentaire{
	width: 690px;
	height: 90px;
	left: 12.5%;
	margin-top: -8.5%;
	display: block;
	float: left;
}
.indent{
	text-indent: 2em;
}
.textFonction{
	background-color: #ccc;
	border: dashed 2px #aaa;
	height: 140px;
	display: block;	
	float: left;
	color: black;
	width: 1200px;
	margin-top: 123px;
	/*height: 150px;*/
}
.textFonction p{
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 1%;
	margin-left: 1%;
	font-weight: bold;
	font-size: 1.1em;
	color: black;
	text-align: justify;
	z-index: 20;
}
.textFonction h2{
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	margin-top: 4.3%;
	text-shadow: 3px 3px 10px #555;
}
.textFonction h3{
	font-weight: bold;
	font-size: 1.25em;
	margin: 1%;
	text-shadow: 2px 2px 15px #555;
}







/* FIN CSS PARTIE FLORENT */








/*****************    ELLIOT    ****************/
.contenu1{
	margin-left: 10%;
}
.boite1{
	background-color: gray;
	width: 200px;
	float: right;
	border: #333 solid 3px;
	padding: 5px;
	margin-right: 5%;
}

/*****************    ANTOINE    ****************/


/*****************    ROMAIN    ****************/



/*****************    ALEXANDRE    ****************/
